#all-reviews-title {
    font-size: x-large;
}

#all-reviews-container{
    padding: 75px;
    background-color: rgb(242, 231, 231);
    // color: black;
    color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
 
}

#card {
    border: solid black 2px;
    background-color: rgba(255, 255, 255, 0.845);
    display: flex;
    width: 75%;
    flex-direction: column; 
    align-items: flex-start;
    padding: 10px;
    margin: 10px;  
}