#main-container{
    margin: 35px;
    border: solid violet 2px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#review-container {
    border: solid black 2px;
    display: flex;
    width: 75%;
    flex-direction: column; 
    align-items: flex-start;
    padding: 10px;
    margin: 10px;  
}