.background{
    height:100%;
    background-image: url(../images/makeup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tagline {
    color: brown;
    font-size: xx-large;
     padding: 70px;
    
}

#component-container{
    background-color: rgba(255, 255, 255, 0.845);
    height: 20%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}