#contact-container{
    
    
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    background-image: url("../images/gazing out.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}