header {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    height: 80px;
}

#logo{
    color: yellow;
}



.drop-down-menu, .drop-down-menu-open, .drop-down-menu-closed{
    width: 50vw;
    height: 20vh;
    position: fixed;
    right: 0px;
    text-decoration: none;
    top: 80px;
    background: black;  
    align-items: right;
    padding: 0px;
    margin: 0px;
    /* z-index: 2; */
}



.drop-down-menu-open{
    animation: openMenu .5s forwards linear;
}

.drop-down-menu-closed{
    animation: closeMenu .5s forwards linear;

}

.drop-down-menu {
    display: none;
}

@keyframes openMenu{
    0% {
        top: -1000px;
    }
    100% {
        top: 80px;
    }

}


@keyframes closeMenu{
    /*target points in time in animation */
    0% {
        top: 80px;
    }
    100%{
        top: -1000px;
    }

}

#site-nav{
    display: flex;

}
/*transition is like an animation; allows us to animate something but transition doesn't handle
starting or ending values 
they don't change css properties, but define how the change occurs; 
must be triggered to run by an action- click/hover/etc */

#site-nav li{
    list-style: none;
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

img {
    width: 50px;
    display: none;
}
img:hover {
    width: 75px;
    height: 75px;
}

@media (max-width: 700px){
    img {
        display: block;
        transition: width 1s, height 1s;
    }
    .menu-text{
        display: none;
    }
}
/* now when we go to less than 700px, the menu image displays instead of the list  */