header {
    background-color:rgb(45, 42, 42);
    display: flex;
    justify-content: space-around;
    height: 65px;
    width: 100vw;
    align-items: center;
}

.link {
    text-decoration: none;
}

#site-nav {
    display:flex;

    li{
        list-style: none;
        margin-left: 10px;
        font-size: 25px;
        color: white;
    
    }
}

#logo{
    color:white;
    font-size: larger;  

}
.drop-down-menu, .drop-down-menu-open, .drop-down-menu-closed{
    width: 50vw;
    height: 20vh;
    position: fixed;
    right: 0px;
    top: 75px;
    background: grey;  
    align-items: right;
    padding: 0px;
    margin: 0px;
}

.drop-down-menu-open{
    animation: openMenu .5s forwards linear;   
}

.drop-down-menu-closed{
    animation: closeMenu .5s forwards linear;
}

.drop-down-menu {
    display: none;
    
}

@keyframes openMenu{
    0% {
        top: -1000px;
    }
    100% {
        top: 65px;
    }
}

@keyframes closeMenu{

    0% {
        top: 80px;
    }
    100%{
        top: -1000px;
    }

}




img {
    width: 40px;
    display: none;
    margin-top: 15px;
    
}

img:hover {
    width: 75px;
    height: 75px;
}

@media (max-width: 700px){
    img {
        display: block;
        transition: width 1s, height 1s;
    }
    .menu-text{
        display: none;
    }
}