$font-stack: 'Roboto Condensed', sans-serif;

#register-box{
    height: 100%;
    width: 100%;
    margin-top: 2px;;
}

#guest {
    text-decoration: none;
    color: black;
}

#register {
    color:black;
    font-family: $font-stack;
}

