.App {
    text-align: center;
    // background-image: url("https://images.unsplash.com/photo-1512206879471-b4d119aef899?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-color:white;
        height: 100%;
    width: 100vw;
    font-family: 'Open Sans Condensed', sans-serif;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
  }